.container {
    width: 95%;
    margin: 0 auto;
    padding: 30px;
    background-image: url("../../assets/image/background/A.jpg");
    align-items: center;
    background-position: center;
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-top: 0;
    margin-bottom: 15px;
}

.left-text {
    font-size: 50px;
    font-family: Cursive;
    align-self: flex-start;
}

.centered-text {
    font-size: 50px;
    font-family: Cursive;
    margin-left: 100px;
}

h2 {
    font-size: 50px;
    font-family: Cursive;
    margin-top: 10px;
    margin-bottom: 10px;
}

.slider-show {
    overflow: hidden;
    position: relative;
    border-radius: 15px;
}

.slider-container {
    display: flex;
    animation: slideAnimation 15s infinite;
}

.slide {
    flex-shrink: 0;
    width: 100%;
    position: relative;
    transition: box-shadow 0.3s ease;
    border-radius: 10px;
}

.slide:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.slide a {
    display: block;
    width: 100%;
    height: 100%;
}

.slide img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.slide:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

@keyframes slideAnimation {

    0%,
    20% {
        transform: translateX(0);
    }

    25%,
    45% {
        transform: translateX(-100%);
    }

    50%,
    70% {
        transform: translateX(-200%);
    }

    75%,
    95% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(0);
    }
}

.recommended-books {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.book-card {
    width: calc(30% - 20px);
    height: 500px;
    margin-bottom: 20px;
    background-color: rgb(250, 200, 50);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.2s ease;
}

.book-card:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.book-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.book-details {
    padding: 10px;
    font-family: cursive;
}

.book-title {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    font-family: cursive;
}

.book-author {
    margin: 0;
    color: #666;
}

.best-seller .book-card {
    width: calc(22% - 20px);
    height: 400px;
    margin-bottom: 30px;
    background-color: rgb(250, 200, 50);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.2s ease;
}

.best-seller .book-card:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.best-seller .book-card img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.best-books .book-card {
    width: calc(35% - 50px);
}

@media screen and (max-width: 768px) {
    .book-card {
        width: calc(50% - 20px);
    }

    .best-books .book-card {
        width: calc(100% - 20px);
    }
}

@media screen and (max-width: 576px) {
    .book-card {
        width: calc(100% - 20px);
    }
}