.container {
    width: 95%;
    margin: 0 auto;
    padding: 30px;
    background-image: url("../../assets/image/background/C.jpg");
    background-size: cover;
    align-items: center;
    min-height: 100vh;
    background-position: center;
  }
  /* 每个元素单独一行 */
  .container label,
  .container input,
  .container button {
    display: block;
    margin-bottom: 10px; /* 调整间距 */
  }
  
  /* Add these styles to your existing CSS */
  
    .delete-book-form {
      width: 60%;
      margin: 50px auto;
      padding: 20px;
      background-color: #eeeeee;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    h2 {
      text-align: center;
      color: #333;
    }
    
    form {
      display: flex;
      flex-direction: column;
    }
    
    label {
      margin-bottom: 8px;
      color: #555;
    }
    /* 设置输入框宽度为95% */
  #bookId {
    width: 95%;
  }
  
    
    input {
      padding: 8px;
      margin-bottom: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    
    button {
      background-color: #4caf50;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    
      text-align: center; /* 文本居中对齐，如果需要文本右对齐，可以改为 "text-align: right;" */
      margin-left: auto; /* 将按钮推到右边 */
      display: block; /* 确保按钮是块级元素，占据整行宽度 */
    }
    button:hover {
      background-color: #45a049;
    }
    
    /* Add a modal for success message */
    .modal {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      justify-content: center;
      align-items: center;
    }
    
    .modal-content {
      background-color: #fff;
      padding: 20px;
      border-radius: 4px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      text-align: center;
    }
    
    .modal button {
      background-color: #4caf50;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin-top: 10px;
      
    }
    
    .modal button:hover {
      background-color: #45a049;
    }
  
  
    .submit-btn {
      width: 60px;
      background-color: #4caf50;
      color: white;
      padding: 10px 15px;
      border: none;
      border-radius: 4px;
  
    
      bottom: 10px;
  
    }