<!-- delete-book.component.html -->
<div class="container">

    <div class="delete-book-form">
    <div *ngIf="!isDeleteMode">
        <!-- 输入书籍 ID -->
        <label for="bookId">Enter Book ID:</label>
        <input type="text" id="bookId" [(ngModel)]="bookId" name="bookId" required>
        <button type="button" class="submit-btn" (click)="loadBook()">Inquire</button>
      </div>
    
    <!-- 如果有书籍信息，显示书籍信息 -->
    <div *ngIf="book" class="delete-book-form">
      <h2>{{ book.title }}</h2>
      <p>Author: {{ book.author }}</p>
      <p>Country: {{ book.country }}</p>
      <p>Image Link: {{ book.imageLink }}</p>
      <p>Language: {{ book.language }}</p>
      <p>Link: {{ book.link }}</p>
      <p>Pages: {{ book.pages }}</p>
      <p>Year: {{ book.year }}</p>
    
      <button class="submit-btn" (click)="onDelete()">Delete</button>
    </div>
   

    <!-- 确认消息 -->
  <div *ngIf="showConfirmation" class="confirmation">
    <p>Book deleted successfully!</p>
    <button (click)="redirectToBooks()">Confirm</button>
  </div>
</div>
</div>
    