<div class="container">

  <div class="edit-book-form">
    <div *ngIf="!isEditMode">
      <label for="bookId">Enter Book ID:</label>
      <input type="text" id="bookId" [(ngModel)]="bookId" name="bookId" required>
      <button type="button" class="submit-btn" (click)="loadBook()">Inquire</button>
    </div>

    <div *ngIf="book" class="edit-book-form">
      <h2>{{ book.title }}</h2>
      <p>Author: {{ book.author }}</p>
      <p>Country: {{ book.country }}</p>
      <p>Image Link: {{ book.imageLink }}</p>
      <p>Language: {{ book.language }}</p>
      <p>Link: {{ book.link }}</p>
      <p>Pages: {{ book.pages }}</p>
      <p>Year: {{ book.year }}</p>
      <button class="submit-btn" (click)="onEdit()">Edit</button>
    </div>

  </div>

  <div *ngIf="isEditMode">
    <div class="edit-book-form">
      <h2>Edit Book</h2>
      <form (ngSubmit)="onSaveChanges()">
        <label for="title">Title:</label>
        <input type="text" id="title" [(ngModel)]="updatedBook.title" name="title" required>

        <label for="author">Author:</label>
        <input type="text" id="author" [(ngModel)]="updatedBook.author" name="author" required>

        <label for="imageLink">Image Link:</label>
        <input type="text" id="imageLink" [(ngModel)]="updatedBook.imageLink" name="imageLink" required>

        <label for="country">Country:</label>
        <input type="text" id="country" [(ngModel)]="updatedBook.country" name="country" required>

        <label for="language">Language:</label>
        <input type="text" id="language" [(ngModel)]="updatedBook.language" name="language" required>

        <label for="pages">Pages:</label>
        <input type="number" id="pages" [(ngModel)]="updatedBook.pages" name="pages" required>

        <label for="year">Year:</label>
        <input type="number" id="year" [(ngModel)]="updatedBook.year" name="year" required>

        <label for="link">Link:</label>
        <input type="text" id="link" [(ngModel)]="updatedBook.link" name="link" required>

        <button type="button" class="submit-btn" (click)="onSaveChanges()">Save</button>
        <button type="button" class="submit-btn" (click)="onCancelEdit()">Cancel</button>

        <div *ngIf="showConfirmation" class="confirmation">
          <p>Book edit successfully!</p>
          <button (click)="redirectToBooks()">Confirm</button>
        </div>
      </form>
    </div>
  </div>

</div>